<div class="list__item">
    <mat-checkbox [(ngModel)]="checked"
                  (ngModelChange)="selected()">{{recipe.name}}</mat-checkbox>
    <span class="fill__remaining__space"></span>
    <button mat-icon-button
            color="primary"
            matTooltip="View"
            (click)="view()">
        <mat-icon>open_in_new</mat-icon>
    </button>
    <button mat-icon-button
            color="primary"
            matTooltip="Edit"
            (click)="edit()">
        <mat-icon>edit</mat-icon>
    </button>
</div>