.container {

    .form__header {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 8px;
        background: #2196f3;
        color: #fff;

        button {
            margin-left: 8px;
        }
    }

    .base__form {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        div {
            display: flex;
            flex-wrap: wrap;

            mat-form-field {
                padding-left: 8px;
                padding-right: 8px;
                flex-grow: 1;

                mat-icon {
                    margin-right: 8px;
                }
            }
        }
    }

    // .add__section {
    //     padding: 8px;

    //     button {
    //         width: 100%;
    //         text-align: left;

    //         &:hover {
    //             font-weight: 700;
    //         }
    //     }
    // }

    .add__button {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-align: left;

        &:hover {
            font-weight: 700;
        }
    }

    .underline__section {
        border-bottom: 1px solid #d6d6d6;
    }

}