.login__form__container {
    display: flex;
    flex: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093);
}

.login__form {
    width: 350px;
    height: 400px;
    background: #f6f6f6;
    border-radius: 6px;
}

.full__width {
    width: 100%;
}