.login__form__container {
    display: flex;
    flex: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #36D1DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5B86E5, #36D1DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.login__form {
    width: 275px;
    /* height: 350px; */
}

.full__width {
    width: 100%;
}