.container {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}

.login__header {
    color: #fff;
    width: 350px;

    h4,
    p {
        margin-left: 16px !important;
        margin-right: 16px !important;
        margin-bottom: 0 !important;
    }

    h4 {
        font-weight: 600;
    }
}

.login__form {
    background: #ffffff;
    border-radius: 20px;
    padding: 16px;
    margin: 8px;
    max-width: 350px;
}

.full__width {
    width: 100%;
}