<div class="ingredient__item">

    <div style="display: flex; align-items: baseline;">
        <h4 class="mat-h4">Edit Ingredient</h4>
        <button mat-icon-button
                matTooltip="Remove"
                [matTooltipPosition]="'after'"
                (click)="remove()"
                tabindex="-1">
            <mat-icon>remove_circle</mat-icon>
        </button>
    </div>

    <form [formGroup]="ingredientForm">

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput
                       formControlName="name"
                       (keydown)="onKeydown($event)"
                       required>
                <mat-error *ngIf="ingredientForm.get('name').errors.required">
                    Name is required
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Quantity</mat-label>
                <input matInput
                       formControlName="quantity"
                       (keydown)="onKeydown($event)"
                       required>
                <mat-error *ngIf="ingredientForm.get('quantity').errors.required">
                    Quantity is required
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>