<div class="container">

    <mat-toolbar color="primary"
                 class="toolbar"
                 [class.is__mobile]="mobileQuery.matches">
        <button mat-icon-button
                (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app__name">Dav Cooks</h1>
        <span class="fill__remaining__space"></span>
        <dav-cooks-user-menu></dav-cooks-user-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav__container">
        <mat-sidenav #snav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56"
                     style="min-width: 250px; background: red;">
            <mat-nav-list>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <!-- <dav-cooks-recipe-edit></dav-cooks-recipe-edit> -->

            <!-- ADD NEW RECIPE BUTTON -->
            <button mat-fab
                    color="primary"
                    class="add__recipe__btn"
                    matTooltip="Create new recipe!"
                    [matTooltipPosition]="'before'"
                    (click)="addRecipe()">
                <mat-icon>add</mat-icon>
            </button>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>