<div class="container">

    <mat-toolbar color="primary"
                 class="toolbar"
                 [class.is__mobile]="mobileQuery.matches">
        <button mat-icon-button
                (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="app__name">Dav Cooks</h1>
        <span class="fill__remaining__space"></span>
        <dav-cooks-user-menu></dav-cooks-user-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav__container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav #snav
                     [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [fixedInViewport]="mobileQuery.matches"
                     fixedTopGap="56"
                     style="min-width: 250px;"
                     opened>
            <mat-nav-list>
                <mat-list-item *ngFor="let link of links">
                    <a matLine
                       [routerLink]="link.href">{{ link.label }}</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <div *ngIf="auth.user | async">

                <!-- <dav-cooks-recipe-list></dav-cooks-recipe-list> -->
                <router-outlet></router-outlet>
                <!-- ADD NEW RECIPE BUTTON -->
                <button mat-fab
                        color="primary"
                        class="add__recipe__btn"
                        matTooltip="Create new recipe!"
                        [matTooltipPosition]="'before'"
                        (click)="addRecipe()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>