.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.toolbar {
    z-index: 2;
}

.is__mobile .toolbar {
    position: fixed;
}

.sidenav__container {
    flex: 1;
}

.is__mobile .sidenav__container {
    flex: 1 0 auto;
}


.app__name {
    margin-left: 8px;
}

.add__recipe__btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}