<span style="display: flex; align-items: center; margin-bottom: 16px;">
    <h2 mat-dialog-title
        style="margin:0;">Original URL</h2>
    <mat-icon style="margin-left:8px; color: #2196f3;"
              matTooltip="Provide a link to an original recipe!"
              [matTooltipPosition]="'after'">info</mat-icon>
</span>
<mat-dialog-content style="display: flex; flex-direction: column;">
    <form [formGroup]="urlForm">
        <mat-form-field appearance="outline"
                        style="width: 100%;">
            <mat-label>URL</mat-label>
            <input matInput
                   type="text"
                   formControlName="url">
            <mat-error *ngIf="url.invalid">Invalid URL</mat-error>
        </mat-form-field>
    </form>
    <p *ngIf="showLoadData"
       class="mat-body">If you would like to populate your recipe with info retrived from the
        URL provided, click the button below. <br> NOTE: This will replace existing title, description, or image
        entries.</p>
    <button *ngIf="showLoadData"
            mat-raised-button
            color="primary"
            matTooltip="Fill form with recipe data"
            [matTooltipPosition]="'above'"
            [disabled]="url.invalid"
            (click)="getMetaData()">Load Recipe Info</button>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            mat-dialog-close
            (click)="cancel()"
            matTooltip="Close Dialog"
            [matTooltipPosition]="'above'"
            tabindex="-1">Cancel</button>
    <button mat-raised-button
            color="primary"
            (click)="save()"
            matTooltip="Save Changes"
            [matTooltipPosition]="'above'"
            [disabled]="!changed"
            tabindex="-1">Save</button>
</mat-dialog-actions>